<nav class="navbar">
  <div class="navbar-content">
    <a routerLink="/" class="logo">Eazy Track</a>

    <ul class="nav-links">
      <!-- Home -->
      <li>
        <a
          routerLink="/authpage"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>

      <!-- USER NAV -->
      @if (role === 'user') {
        <li>
          <a
            routerLink="/user-dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            My Projects
          </a>
        </li>

        <li>
          <a
            routerLink="/user-dashboard/work-entry"
            routerLinkActive="active"
          >
            Work Entry
          </a>
        </li>
      }

      <!-- ADMIN NAV -->
      @if (role === 'admin') {
        <li><a routerLink="/admin-dashboard">Dashboard</a></li>
        <li><a routerLink="/admin-dashboard/employees">Employees</a></li>
        <li><a routerLink="/admin-dashboard/projects">Projects</a></li>
      }
    </ul>
  </div>
</nav>
