.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
}

.card h3 {
  margin-bottom: 10px;
  font-weight: 500;
}

.card p {
  font-size: 32px;
  font-weight: bold;
}

/* Colors */
.total {
  background: #0d6efd;
}

.track {
  background: #198754;
}

.warn {
  background: #ffc107;
  color: #000;
}

.danger {
  background: #dc3545;
}
