/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* App root full height */
app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
